# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/

# Environment variables
.env
.env.*

# Terraform (future safety)
*.tfstate
*.tfstate.backup
.terraform/

# Node modules (future safety)
node_modules/
